/*
ID    Classes, atributos e pseudo-classes    Elementos e pseudo-elementos
2     1                                      2
1     0                                      1
1     1                                      0
*/


body#b p#p.p {
    background-color: cadetblue;
}

#p {
    background-color: red;
    width: fit-content;
}

#p.p {
    background-color: yellow !important;
}
